.ns-growl {
    top: 30px;
    right: 30px;
    /* right: 380px; */
    max-width: 300px;
    border-radius: 5px;
    z-index: 1;
}
.container {
    /*min-width: 970px;*/
    width: 100% !important;
}